body {
    text-align: center;
    font-family: Chalkduster;
    color: white;
    background-color: black;
    background-image: url("https://www.chromethemer.com/download/hd-wallpapers/chalkboard-3840x2160.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.or-sign-up {
  font-size: 18px;
  color: peachpuff;
  margin-top: 300px;
  margin-bottom: 50px;
}

#login {
  font-size: 42px;
}

input[type='text'] {
  font-size: 42px;
  font-family: Chalkduster;
  color: mintcream;
  border: 0;
  outline: none;
  background: transparent;
}

input[type=submit] {
  font-size: 25px;
  font-family: Chalkduster;
  color: peachpuff;
  background: transparent;
  border: transparent;
  cursor: pointer;
}

.hangman-title {
    font-size: 62px;
    margin-top: 45px;
}

.word {
    font-size: 31px;
    margin-top: 60px;
}

#instructions {
    font-size: 18px;
    margin-top: 0px;
    color: peachpuff;
}

.letter-list {
    font-size: 31px;
}

.hangman-image {
    height: 30%;
    width: 30%;
}

.fade-in {
   animation: fadeIn ease 2.2s;
   -webkit-animation: fadeIn ease 2.2s;
   -moz-animation: fadeIn ease 2.2s;
   -o-animation: fadeIn ease 2.2s;
   -ms-animation: fadeIn ease 2.2s;
 }
 @keyframes fadeIn {
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
 }
 
 @-moz-keyframes fadeIn {
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
 }
 
 @-webkit-keyframes fadeIn {
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
 }
 
 @-o-keyframes fadeIn {
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
 }
 
 @-ms-keyframes fadeIn {
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
 }




 a.button2{
   display:inline-block;
   padding:0.5em 3em;
   border:0.16em solid #FFFFFF;
   margin:0 0.3em 0.3em 0;
   box-sizing: border-box;
   text-decoration:none;
   text-transform:uppercase;
   font-family:'Roboto',sans-serif;
   font-weight:400;
   color:#FFFFFF;
   text-align:center;
   transition: all 0.15s;
  }
  a.button2:hover{
   color:#DDDDDD;
   border-color:#DDDDDD;
  }
  a.button2:active{
   color:#BBBBBB;
   border-color:#BBBBBB;
  }
  @media all and (max-width:30em){
   a.button2{
    display:block;
    margin:0.4em auto;
   }
  }