body {
    text-align: center;
    font-family: Chalkduster;
    color: white;
    background-color: black;
    background-image: url("../images/background/black_chalkboard.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.or-sign-up {
  font-size: 18px;
  color: peachpuff;
  margin-top: 200px;
  margin-bottom: 50px;
}

#login {
  font-size: 42px;
}

input[type='text'] {
  font-size: 42px;
  font-family: Chalkduster;
  color: mintcream;
  border: 0;
  outline: none;
  background: transparent;
}

#log-in-button {
  font-size: 25px;
  font-family: Chalkduster;
  color: peachpuff;
  background: transparent;
  outline: none;
  border: transparent;
  padding: 9px;
  cursor: pointer;
}

#log-in-button:hover {
  font-size: 31px;
  font-family: Chalkduster;
  color: peachpuff;
  background: transparent;
  outline: none;
  border: transparent;
  cursor: pointer;
}

#log-in-button:active {
  font-size: 31px;
  font-family: Chalkduster;
  color: white;
  background: transparent;
  outline: none;
  border: transparent;
  cursor: pointer;
}

#start-game-view {
  margin-top: 150px;
}

#welcome {
  font-size: 48px;
}

#game-guide {
  font-size: 24px;
  margin-top: 60px;
  margin-left: 360px;
  margin-right: 360px;
}

#start-button {
  font-size: 32px;
  font-family: Chalkduster;
  color: peachpuff;
  background: transparent;
  outline: none;
  border: transparent;
  margin-top: 50px;
  padding: 9px;
  cursor: pointer;
}

#start-button:hover {
  font-size: 38px;
  font-family: Chalkduster;
  color: peachpuff;
  background: transparent;
  outline: none;
  border: transparent;
  cursor: pointer;
}

#start-button:active {
  font-size: 38px;
  font-family: Chalkduster;
  color: white;
  background: transparent;
  outline: none;
  border: transparent;
  cursor: pointer;
}

.hangman-title {
    font-size: 62px;
    margin-top: 45px;
}

.word {
    font-size: 31px;
    margin-top: 60px;
    margin-bottom: 64px;
}

#instructions {
    font-size: 18px;
    color: peachpuff;
    margin-top: 31px;
}



#letter-button {
  font-size: 31px;
  font-family: Chalkduster;
  color: peachpuff;
  background: transparent;
  outline: none;
  border: none;
  border-radius: 6px;
  padding: 9px;
  cursor: pointer;
}

#letter-button:hover {
  font-size: 42px;
  font-family: Chalkduster;
  color: peachpuff;
  background: none;
  outline: none;
  cursor: pointer;
}

#letter-button:active {
  font-size: 42px;
  font-family: Chalkduster;
  color: white;
  background: none;
  outline: none;
  cursor: pointer;
}

#next-round-button {
  font-size: 24px;
  font-family: Chalkduster;
  color: peachpuff;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

#next-round-button:hover {
  font-size: 28px;
  font-family: Chalkduster;
  color: white;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.hangman-image {
    height: 18%;
    width: 18%;
}

#leaderboard {
  padding-left: 650px;
  text-align: left;
}

#current-score-container {
  float: inline-start;
  margin: 0px;
}

.fade-in {
   animation: fadeIn ease 2.2s;
   -webkit-animation: fadeIn ease 2.2s;
   -moz-animation: fadeIn ease 2.2s;
   -o-animation: fadeIn ease 2.2s;
   -ms-animation: fadeIn ease 2.2s;
 }
 @keyframes fadeIn {
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
 }
 
 @-moz-keyframes fadeIn {
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
 }
 
 @-webkit-keyframes fadeIn {
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
 }
 
 @-o-keyframes fadeIn {
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
 }
 
 @-ms-keyframes fadeIn {
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
 }
